.ckeditor{
    min-height: 500px;
    width: 300x !important;
    background-color: blue !important;
}
.button__container{
    display: flex;
    justify-content: flex-end;
}
.doubt__block__answer{
    width: 100%;
    border-top: 1px solid rgb(78, 76, 76);
    padding: 5px;
    height: fit-content;
    /* color: green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.doubt__block__announcementButton{
    background: #F50057;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
     opacity: 1;
     border: 0;
     width: auto;
     height: 44px;
     color: #FFFFFF;
     text-align: center;
     letter-spacing: 1.6px;
     font-size: 16px;
     text-transform: uppercase;
     opacity: 1;
     margin-top: 10px;
     align-self: flex-end;
}