.block{
    
    width: 300px;
    height: 300px;
    border: 1px solid gray;
    border-radius: 4px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.block__title{
    height: 90px;
    background-color: #3367D5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.created{
    background-color: #d53e33;  
}
.link:hover{
    text-decoration: underline;
    text-decoration-color: white;
}
.link{
    text-decoration: none;
}
.block__title__header{
    width: 280px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    font-size: 20px;
}

.block__title_details{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: small;
}

.block__todo{
    height: 180px;
    border-bottom: 1px solid lightgray;
}

.block__nav{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline !important;
   height: 30px;
}

.disabled {

    cursor: not-allowed;
}

.block__nav__icon{
  
    color: #5F6368;
    cursor: pointer;
    align-self: center;

}
.block__nav__link
{
    
    height: 30px;
   display: flex;
    align-items: baseline !important;
    text-decoration: none !important;
    

}

.danger:hover{
    color: red;
}

.active {
    color: rgb(6, 231, 6);
}

.doubt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.doubt__title{
    text-align: center;
    font-weight: 500;
    width: 100%;
    border-bottom: 1px solid black;

}
.doubt__textarea{
    margin: 10px; 
    border: 1px solid gray;
    min-height: 100px;
    width: 90%;
    
    resize: none;
}

.doubt__button{
    background: #F50057;
    cursor: pointer;
     border-radius: 4px;
     opacity: 1;
     border: 0;
     /* width: 200px; */
     height: 44px;
     color: #FFFFFF;
     text-align: center;
     letter-spacing: 1.6px;
     font-size: 16px;
     text-transform: uppercase;
     opacity: 1;
    padding: 5px;
     margin-bottom: 5px;
}


.block__doubtModal__top{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    
}