.header{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(192, 191, 191);
} 
.header__left{
    display: flex;
    justify-content: left;
    align-items: center;
   
}
.header__right{
    display: flex;
    justify-content: right;
    align-items: center;
}
.header__left_icon {
    margin: 10px;
    color: #5F6368;
    font-size: 25px !important;
    cursor: pointer;
}
.header__right_icon {
    margin: 10px;
    color: #5F6368;
    font-size: 25px !important;
    cursor: pointer;
}
.header__right_avatar{
    text-transform: uppercase;
    margin: 10px;
    text-align: center !important;
}
.header__left_img {
    margin: 10px;
    object-fit: contain;
    height: 30px;
}

 .addMenu {
     margin-top: 50px;
     text-align: center;
     align-self: center;
 }
 .addMenu2 {
    
    margin-top: 30px;
    text-align: center;
    align-self: center;
}

 .createClass {
    display: flex;
    flex-direction: column;
}

   .createButton {
    margin: 10px !important;
   
}
.joinClass{
    display: flex;
    flex-direction: column;
}

.joinClass > .joinButton {
    margin: 10px !important;
   
}

.activeButton {
    border-bottom:2px solid blue !important;
}

.header__link{
    text-decoration: none ;
    color: black;
}
.pointer {
    cursor: pointer;
}

.header__left_img_small{
    display: none;

}
@media (max-width: 400px) {
    .header__left_img {
       
        display: none;
    }
    .header__left_img_small{
        display: block;
        margin: 10px;
        object-fit: contain;
        height: 30px;

    }


}
















 .red {
    background-color: red !important;
}
.purple {
    background-color: purple !important;
}
.blue{
    background-color: blue !important;
}
.violet{
    background-color: violet !important;
}
.orange{
    background-color: rgb(255, 102, 0) !important;
}
.pink{
    background-color:#EC407A !important;
}
.green {
    background-color: green !important;
}

.teal {
    background-color: teal !important;
}
.yellow {
    background-color: yellowgreen !important;
}
 
 .black {
    background-color: black !important;
 }