.dashboard {
    display: flex;
    min-height: 90vh;
    max-height: 90vh;
}
.dashboard__title{
    color: lightskyblue;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.dashboard__left{
    flex: 25%;
    background-color: #131A34;
}

.dashboard__left {
    width: 239px;
    height: 900px;
    min-height: 100%;
    /* float: left; */
    /* top: 0px;
    left: 0px; */
    background: #131A34 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
}
.dashboard__left__nav{
    flex: 22%;
}
.dashboard__left__members {
    flex: 63%;
}
.dashboard__left__footer
{
    flex: 15%;
}
.navButton {
    width: 239px;
    height: 37px;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
.navButton__icon {
    flex: 30%;
    display: flex;
    justify-content: flex-end;
    
    align-items: center;
}
.navButton__icon > .icon {
    color: #C2C6D9;
    margin: 10px;
}

.navButton__title {
    flex: 70%;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    letter-spacing: 0px;
    color: #C2C6D9;
    align-self: center;
    margin: 10px;
}
.navButton__title > p
{
    font-size: 16px;
}

.dashboard__leftHR {
    color: #C2C6D9;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media(max-width:600px)
{
    .dashboard__left {
        width: 200px;
        height: 900px;
        /* float: left; */
        /* top: 0px;
        left: 0px; */
        background: #131A34 0% 0% no-repeat padding-box;
    }
    .navButton
    {
        width: 200px;
    }
}
.dashboard__right{
    flex: 70%;
    /* background-color: lightseagreen; */
}